<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/css/styles.css}" rel="stylesheet" />
		<title>Maze Game</title>
	</head>
	
	<body>
		<div><a href="/main">Home</a></div>
		<div><a href="/">Logout</a></div>
		
		<div th:text= "'Congratulations! Your maze ' + ${name} + ' has been successfully created.'"></div>
		<div>Please click on the link at the top of the page to return to the home page.</div> 
		
		<br></br>
	</body>

	<footer><div>Created by Michael Astrack</div></footer>

</html>